@font-face {
  font-family: "ASAP";
  src: url(../assets/fonts/Asap-Regular.ttf); }
@font-face {
  font-family: "Racing Sans One";
  src: url(../assets/fonts/RacingSansOne-Regular.ttf); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, p, blockquote, table, th, td, embed, object {
  padding: 0;
  margin: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  font-family: "ASAP", "Helvetica", "Ariel", sans-serif;
  color: #000; }

h1, h2 {
  font-family: "Racing Sans One", "Georgia", "Times New Roman", serif;
  color: #fff; }

.content {
  min-width: 100%;
  min-height: 100%; }

#header {
  background: url(../assets/images/arcade-bw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#about, #work, #contact {
  background-color: #fff; }

#contact {
  min-height: 100%;
  padding-top: 5em;
  background: url(../assets/images/cat-mail.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.portrait {
  width: 18em;
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 5px solid #0093A0;
  display: block;
  margin: .5em auto; }

p a:link, p a:visited {
  color: #0093A0;
  border-bottom: 1px solid #0093A0; }
p a:hover, p a:active {
  color: #D75F74;
  border-bottom: 1px solid #D75F74;
  font-style: italic; }

.headline {
  font-size: 3em;
  visibility: hidden; }

.quote {
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding: 2.5em;
  color: #fff;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 25%; }
  @media screen and (min-width: 52.75em) {
    .quote {
      width: 40%;
      left: calc(30% - (18em/2)); } }
  .quote small {
    right: 4em;
    position: absolute; }
    @media screen and (min-width: 75.44em) {
      .quote small {
        font-size: 1em; } }
  @media screen and (min-width: 52.75em) {
    .quote blockquote {
      font-size: 1.5em; } }
  @media screen and (min-width: 75.44em) {
    .quote blockquote {
      font-size: 2em; } }

.nav-container {
  position: relative; }

.nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  margin: auto;
  text-align: center;
  background-color: rgba(0, 147, 160, 0.2); }
  .nav a:link, .nav a:visited {
    color: #000;
    text-transform: uppercase;
    padding: .25em .5em;
    transition: all .3s fade;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    opacity: 0.7; }
  .nav a:hover {
    border-top: 3px solid #0093A0;
    border-bottom: 3px solid #0093A0;
    opacity: 1; }
  .nav li {
    margin: 1em auto;
    padding: .25em;
    display: inline-block;
    font-size: 1.5em;
    color: black; }
  @media screen and (min-width: 52.75em) {
    .nav {
      width: 18em;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      padding: 0; }
      .nav ul {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 30%; }
      .nav li {
        margin: .5em;
        display: block; } }

.container {
  max-width: 80%;
  box-sizing: border-box;
  margin: 0 auto; }
  @media screen and (min-width: 52.75em) {
    .container {
      width: calc(100% - 18em);
      margin: 0; } }

.sub-container {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5em; }
  .sub-container h4, .sub-container h5 {
    font-size: 1.5em;
    margin: 2em 0 .5em 0; }
  .sub-container p {
    margin-bottom: .5em; }

.contact-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  min-height: 40%; }
  .contact-container ul {
    margin: 2em; }
    .contact-container ul li {
      display: inline-block;
      margin: 1em; }

.resume-container {
  font-size: .8em;
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5em auto;
  .resume-left-width: 30%; }
  .resume-container .resume-right {
    width: calc(70% - 2em); }
  .resume-container h3 {
    font-size: 1.5em;
    margin: 1em auto .5em auto;
    color: #0093A0; }
  .resume-container h5 {
    font-size: 1.2em;
    margin: .5em 0;
    border-bottom: 1px solid #EAB98C; }
  .resume-container li {
    max-width: 90%; }
  .resume-container .italic {
    font-style: italic; }
  .resume-container .indent {
    margin-left: 1em; }

.social-icon {
  height: 3em; }
  .social-icon #facebook-icon, .social-icon #twitter-icon, .social-icon #linkedin-icon, .social-icon #github-icon {
    fill: #fff; }
  .social-icon:hover #facebook-icon, .social-icon:hover #linkedin-icon {
    fill: #D75F74; }
  .social-icon:hover #twitter-icon {
    fill: #0093A0; }
  .social-icon:hover #github-icon {
    fill: #EAB98C; }

/*# sourceMappingURL=global.css.map */
