body {
	background-color: white;
	font-family: 'PT Sans Narrow', Helvetica, sans-serif;
}

.container {
	width: 75%;
	margin: 2em auto;
	padding: 3.5em;
	min-height: 40em;
}

li {
	font-size: 120%;
}

.gdi-logo{
	float: left;
	width: 8em;
	padding: 2em;
}

.bill {
	margin: auto auto;
	display: block;
	width: 400px;
	border: 3px solid black;
}

h1 {
	color: #f05b62;
}

h2 {
	color: #f05b62;
}

header {
	clear: both;
	margin-bottom: 1em;
}

header img {
	margin-top: -2em;
}

.lists{
	clear: both;
	margin: auto auto;
}

.column{
	width: 25%;
	min-height: 400px;
	float: left;
}

li {
	padding-top: .2em;
	padding-bottom: .1em;
}

a:link {
 	color: #22867F;
 	text-decoration: none;
 	border-bottom: 1px solid #22867F;
}

a:visited {
	color: #22867F;
}

a:hover {
	color: #F05B62;
	border-bottom: 1px dashed #F05B62;
}

a:active {
	color: #ffffff;
}

footer{
	text-align: center;
}

.homework-heading {
	clear: both;
}
