body {
	background-color: #33CCFF;
	font-family: 'PT Sans', sans-serif;
	color: #3333CC;
	text-align: center;
	margin-top: 10%;
}

#hold{
	width: 50%;
	height: 50%;
	margin: auto auto;
	background-color: rgba(0,0,102,.1); 
	padding: 2%;
	border-radius: 25px;
}

#me{
	width: 200px;
	border-style: solid;
	border-color: black;
	border-size: 1px;
}

#hello{
	font-size: 200%;
}

a:link{}
a:visited{}
a:hover{}
a:active{}

