
/*
Parchment #F1F1D4 241, 241, 212
Purple #3D3242
Maroon #7A3E48
Orange? #B95835
*/


body {
	background-color: #F1F1D4;
	font-family: 'Cinzel', serif;
	color: #3D3242;
	text-align: center;
	margin-top: 3%;
    line-height: 200%;
}

.hold{
	width: 50%;
	height: 50%;
	margin: auto auto;
	/*background-color: rgba(0,0,102,.1); */
	padding: 1%;
	border-radius: 25px;

}

.one{
    font-size: 40pt;
}

.two{
   font-size: 40pt;
}

.three{
    font-size: 40pt;
}
.four{
    font-size: 40pt;

}

.credit{
    font-size: 14pt;
    font-style: italic;
    font-family: 'IM Fell English', serif;
    text-align: right;
    line-height: 30%;

}

.quote{
    font-size: 40pt;
    display: inline;
    line-height: 100%;
}

a:link{
    text-decoration: none;
    font-style: italic;
    font-family: 'IM Fell English', serif;
    color: #7A3E48;
}
a:visited{
    color: #7A3E48;
}
a:hover{
    color: #B95835;
    font-size: 48pt;
}
a:active{

}

.goblet:link{
    text-decoration: none;
    font-style: italic;
    font-family: 'IM Fell English', serif;
    color: #7A3E48;
}
.goblet:visited{
    color: #7A3E48;
}
.goblet:hover{
    color: #B95835;
    font-size: 18pt;
}
.goblet:active{

}

img {
    width: 400px;
    border-radius: 25px;

}


