.container {
  box-sizing: border-box;
  width: 100%;

  @media screen and (min-width: $break-small) {
    width: calc(100% - #{$nav-width});
  }
}

.sub-container {
  margin: 2rem;
  padding-top: 3rem;
  line-height: 1.5rem;

  h4, h5 {
    font-size: 1.5rem;
    margin: 2em 0 0.5rem 0;
  }

  p {
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: $break-small) {
    margin: 2rem;
    padding-top: 0;
  }
}

.about-container {
  width: 85%;
  margin: 0 auto;
  max-width: 30rem;

}

.contact-container {
  background-color: $black-transparent;
  color: white;
  text-align: center;
  padding: 3rem 1rem 1rem;
  margin: -5rem auto 0;
  min-height: 120vh;
  font-size: 0.85rem;

  @media screen and (min-width: $break-small) {
    font-size: 100%;
  }

  h4 {
  }

  ul {
    margin: 0;

    @media screen and (min-width: $break-small) {
      margin: 2em;
    }

    li {
      display: inline-block;
      margin: 1em;
    }
  }
}

.resume-container {
  font-size: 0.8em;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5em auto;
  flex-direction: column;

  .resume-left {
    order: 2;
  }

  @media screen and (min-width: 64.50rem) {
    flex-direction: row;
    padding-top: 0;

    .resume-left {
      width: 30%;
      order: 1;
    }

    .resume-right {
      width: calc(70% - 2em);
      order: 2;
    }
  }

  h3 {
    font-size: 1.5em;
    margin: 1em auto 0.5em auto;
    color: $c-primary;
  }

  h5 {
    font-size: 1.2em;
    margin: 1.5rem 0 0.5rem;
    border-bottom: 1px solid $c-highlight;
    padding-bottom: 0.5rem;
  }

  li {
    max-width: 90%;
  }

  .italic {
    font-style: italic;
  }

  .indent {
    margin-left: 1em;
  }

}

.social-icon {
  height: 3rem;

  #facebook-icon, #twitter-icon, #linkedin-icon, #github-icon, #codepen-icon, #insta-icon  {
    fill: gray(100);
  }

  &:hover {
    #github-icon, #linkedin-icon  {
      fill: $c-accent;
    }

    #twitter-icon, #insta-icon {
      fill: $c-primary;
    }

    #codepen-icon, #facebook-icon,  {
      fill: $c-highlight;
    }
  }
}

#about p {
  margin-top: 3rem;
}
