.container {
  max-width: 80%;
  box-sizing: border-box;
  margin: 0 auto;

  @media screen and (min-width: $break-small){
    width: calc(100% - #{$nav-width});
    margin: 0;

  }

}

.sub-container {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5em;

  h4, h5 {
    font-size: 1.5em;
    margin: 2em 0 .5em 0;
  }

  p {
    margin-bottom: .5em;
  }


}

.contact-container {
  background-color: $black-transparent;
  color: $lightest;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  min-height: 40%;
  h4 {
  }

  ul {
    margin: 2em;

    li {
      display: inline-block;
      margin: 1em;

    }
  }


}


.resume-container {
  font-size: .8em;
  padding-top: 3em;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5em auto;

  .resume-left: {
    width: 30%;
  }

  .resume-right {
    width: calc(70% - 2em);
  }

  h3 {
    font-size: 1.5em;
    margin: 1em auto .5em auto;
    color: $primary;
  }


  h5 {
    font-size: 1.2em;
    margin: .5em 0;
    border-bottom: 1px solid $highlight;
  }

  li {
    max-width: 90%;
  }

  .italic {
    font-style: italic;
  }

  .indent {
    margin-left: 1em;
  }

}

.social-icon {
  height: 3em;

  #facebook-icon, #twitter-icon, #linkedin-icon, #github-icon, #codepen-icon, #insta-icon  {
    fill: $lightest;

  }

  &:hover {
    #github-icon, #linkedin-icon  {
      fill: $accent;
    }
    #twitter-icon, #insta-icon {
      fill: $primary;
    }

    #codepen-icon, #facebook-icon,  {
      fill: $highlight;
    }

  }
}
