.nav-container {
  position: relative;
}

.nav {
  @include nav-button;
  width: 100%;
  background-color: rgba(255, 255, 255, .85);
  margin: auto;
  text-align: center;
  background-color: rgba( $primary, .2);


  li {
    margin: 1em auto;
    padding: .25em;
    display: inline-block;
    font-size: 1.5em;
    color: black;

  }

  @media screen and (min-width: $break-small) {
    width: $nav-width;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    ul {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 30%;
    }

    li {
      margin: .5em;
      display: block;
    }
  }
}
