// VARIABLES

// Colors
$primary: #0093A0;
$accent: #D75F74;
$highlight: #EAB98C;

$darkest: #000;
$dark: #666;
$light: #DDD;
$lightest: #fff;

$black-transparent: rgba(0, 0, 0, .5);


// Fonts
$primary-font: "ASAP", "Helvetica", "Ariel", sans-serif;
$secondary-font: "Racing Sans One", "Georgia", "Times New Roman", serif;

// Breakpoints
$break-small: 52.75em;
$break-large: 75.44em;
$break-max: 100em;

// Sizing
$nav-width: 18em;
